body{
    background-color: rgb(205, 249, 255);
    text-align:left;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

a{
    color: rgb(43, 11, 184);
    
}
form{
     text-align: center;
}


p{
    text-align: center;
    height: -400px;
}   
footer{
    height:500px;
    text-align: center;
}

h3{
    text-align: center;
}

.class{
    text-align: center;
    height: 400px;
    block-size: auto;
}

nav{
    height: 600px;
    width:  90px;
    float:  left;
    padding: 10px;
    line-height: 20px; 
}

p{
    line-height: 160px;
    text-align: center;
}

h2{
    height: 100px;
    line-height: -160px;
}

img{
    margin-left: auto;
    animation-duration: 0s;
    animation-name: moving;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    width: 20%;
}

@keyframes moving {
    from {
        margin-right: 100px;
        margin-top: 100px;
        margin-left: 100px;
        margin-bottom: 100px;
    }
    to {
        margin-right: 300px;
        margin-top: 300px;
        margin-left: 300px;
        margin-bottom: 300px;
    }
}

input{
    text-align: center;
}
p{
    float: bottom;
}

button{
    text-align: center;
}
